<div class="container">
    <h1 class="my-3">Neue Teilnehmerin</h1>
    <form class="row">
        <div class="my-3 col-3">
            <label for="first">Vorname</label>
        </div>
        <div class="my-2 col-9">
            <input class="form-control" type="text" placeholder="Vorname" id="first" required />
        </div>
        <div class="my-3 col-3">
            <label for="last">Nachname</label>
        </div>
        <div class="my-2 col-9"> 
            <input class="form-control" type="text" placeholder="Nachname" id="last" required />
        </div> 
        <div class="my-3 col-3">
            <label for="email">E-Mail</label>
        </div>
        <div class="my-2 col-9">
            <input class="form-control" type="text" placeholder="E-Mail" id="email" required />
        </div> 
        <div class="my-3 col-3">
            <label for="ipaddr">IP-Adresse</label>
        </div>
        <div class="my-2 col-9">
            <input class="form-control" type="text" placeholder="IP-Addresse" id="ipaddr" required />
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-success me-md-4" type="button" style="margin-bottom: 0.5em;">Speichern</button>
        </div>
    </form>
</div>
